

append head
    script(src="/js/home.js" type="module" defer)
    link(rel='stylesheet', href='/stylesheets/favoriteArtist.css')
body
  h2(class = "artistHeadline") Favorite Artists
  .favoriteArtists
