extends layout

append head
  script(src="/js/artist-favorite.js" type="module" defer)
block content
  h1 Pick Your Favorite Artists
  form#favoriteArtistForm
    input(type="hidden" name="_csrf" value=csrfToken)
    ul.artistList
    input(type="submit")