extends layout

append head
  script(src="/public/js/login.js" type="module" defer)

block content
  h1 Welcome Back!
  p Your Next Favorite Song Awaits...
  form(name="user-sign-in" id="login-form")
    input(type="hidden" value=csrfToken required)
    label Email
      input(type="text" name="email" placeholder="Your email..." required)
    label Password
      input(type="text" name="password" placeholder="..." required)
    label Login
      input(type="submit" name="submit")
