extends layout

append head
  script(src="/public/js/login.js" type="module" defer)

block content
  h1.welcome-back Welcome Back!
  p.bandcamp-welcome Your Next Favorite Song Awaits...
  #errors-container
  .log-in-form-container
    form(name="user-sign-in" id="login-form")
      input(type="hidden" value=csrfToken required)
      .user-name-password
        label Email
          input(type="text" name="email" placeholder="Your email..." required)
        label Password
          input(type="password" name="password" placeholder="..." required)
      label Login
      input(type="submit" name="submit")
  .search-results
