extends layout

block content
  h1 Welcome Back!
  p Your Next Favorite Song Awaits...
  form(action="/login" method="post" name="user-sign-in")
    input(type="hidden" value=csrfToken)
    label Email
      input(type="text" name="email" placeholder="Your email...")
    label Password
      input(type="text" name="password" placeholder="...")
    label Login
      input(type="submit" name="submit")
