

append head
    script(src = "/js/widget.js" type="module" defer)
    link(rel='stylesheet', href='/stylesheets/widget.css')

block content
    img(class="art hidden", src="")
    audio(controls, class="audio_player hidden",  src ="")

